DB_HOST=localhost
DB_PORT=5432
DB_NAME=name_example
DB_USERNAME=username_example
DB_PASSWORD=password_example

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=username_example
MINIO_ROOT_PASSWORD=password_example
MINIO_HOST=localhost
MINIO_URL=http://${MINIO_HOST}:${MINIO_API_PORT}